<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharp_68PM1_NguyenHoangTung_0027968.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=LAPTOP-SGPK0VHD\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>